*, html {
  box-sizing: border-box;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e6dcc6;
}
* a, html a {
  text-decoration: none;
}
* body, html body {
  position: relative;
  background-color: #2a292b;
}
* ::-webkit-scrollbar, html ::-webkit-scrollbar {
  width: 0;
}

.welcome_section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.welcome_section .author_image {
  background-image: url("../images/crop_image.jpg");
  background-size: cover;
  width: 30rem;
  height: 35rem;
}
.welcome_section .blog_name {
  align-self: baseline;
  flex-basis: 50%;
  margin-right: 2rem;
  margin-top: 5rem;
}
.welcome_section .blog_name p {
  margin: 1rem;
  text-transform: uppercase;
}
.welcome_section .blog_name h1 {
  margin: 1rem;
  font-size: 5em;
}
.welcome_section .blog_name a {
  display: block;
  margin-top: 2rem;
  width: 20rem;
  text-align: center;
  font-size: 2em;
  background-color: #e6dcc6;
  color: #2a292b;
  padding: 1rem;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
}
.welcome_section .blog_name a:hover {
  border: 0.1rem solid #e6dcc6;
  color: #e6dcc6;
  background-color: #2a292b;
  box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, 0.6);
}
.welcome_section .author_image {
  margin-top: 5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, 0.6);
}

.subject_section {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subject_section .wrap_img {
  position: absolute;
  top: 0;
  left: 0;
}
.subject_section .wrap_img img {
  opacity: 0.1;
  width: 100vw;
  height: 70vh;
}
.subject_section hr {
  padding: 0;
  height: 0;
  border: none;
  border-top: 0.25rem dotted #e6dcc6;
  width: 30%;
  margin: 2rem;
}
.subject_section h2 {
  font-size: 2.5rem;
  margin: 5rem 2rem 2rem 2rem;
}
.subject_section p {
  width: 70vw;
  text-align: center;
  font-size: 1.5em;
}
.subject_section p:last-child {
  margin-bottom: 5rem;
}

.topics_articles_section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin: 5rem 2rem 5rem 2rem;
}
.topics_articles_section .topics_block {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  margin: 2rem;
}
.topics_articles_section .topics_block .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
}
.topics_articles_section .topics_block .info p {
  text-align: center;
}
.topics_articles_section .topics_block .info .header {
  text-transform: uppercase;
  font-weight: bold;
  margin: 1rem;
}
.topics_articles_section .topics_block img {
  display: block;
  width: 15rem;
  height: 15rem;
  box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, 0.6);
}

.motivation_section {
  display: flex;
  background-color: #e6dcc6;
}
.motivation_section img {
  display: block;
  width: 25vw;
  height: 90vh;
  margin: 2rem 5rem;
}
.motivation_section .motivation_text h2 {
  color: #2a292b;
  font-size: 4em;
  text-transform: uppercase;
  margin: 5rem;
  text-align: center;
}
.motivation_section .motivation_text p {
  color: #2a292b;
  text-align: center;
  font-size: 2em;
  margin: 5rem;
}
.motivation_section .motivation_text a {
  display: block;
  margin: 0 auto;
  width: 20rem;
  text-align: center;
  font-size: 2em;
  background-color: #2a292b;
  color: #e6dcc6;
  padding: 1rem;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
}
.motivation_section .motivation_text a:hover {
  border: 0.1rem solid #2a292b;
  color: #2a292b;
  background-color: #e6dcc6;
  box-shadow: 0px 0px 26px -4px rgba(42, 41, 43, 0.7);
}

.contacts {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.contacts img {
  display: block;
  width: 25vw;
}
.contacts .contact_info h2 {
  font-size: 3em;
  margin: 2rem;
}
.contacts .contact_info a {
  display: block;
  margin: 2rem;
  width: 15rem;
  text-align: center;
  font-size: 2em;
  background-color: #e6dcc6;
  color: #2a292b;
  padding: 0.3rem;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
}
.contacts .contact_info a:hover {
  color: #e6dcc6;
  background-color: #2a292b;
  box-shadow: 0px 0px 1px 1px rgb(230, 220, 198);
}
.contacts .contact_info p {
  margin: 2rem;
}
.contacts .contact_info table {
  margin-top: 10rem;
}
.contacts .contact_info table td {
  padding: 0.2rem 0.5rem;
}
.contacts .contact_info table td:first-child {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */