$text_and_buttons: #e6dcc6;
$background_darkText: #2a292b;
$light_background: #e6dcc6;

*, html {
    box-sizing: border-box;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $text_and_buttons;

    a {
        text-decoration: none;
        cursor: pointer;
    }

    body {
        position: relative;
        background-color: $background_darkText;
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}

.welcome_section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;

    .author_image {
        background-image: url("../images/crop_image.jpg");
        background-size: cover;
        width: 30rem;
        height: 35rem;
    }
    
    .blog_name {
        align-self: baseline;
        flex-basis: 50%;
        margin-right: 2rem;
        margin-top: 5rem;
        
        p {
            margin: 1rem;
            text-transform: uppercase;
        }

        h1 {
            margin: 1rem;
            font-size: 5em;
        }
        
        a {
            display: block;
            margin-top: 2rem;
            width: 20rem;
            text-align: center;
            font-size: 2em;
            background-color: $text_and_buttons;
            color: $background_darkText;
            padding: 1rem;
            border-radius: 50rem;
            -webkit-border-radius: 50rem;
            -moz-border-radius: 50rem;
            -ms-border-radius: 50rem;
            -o-border-radius: 50rem;

            &:hover {
                border: .1rem solid $text_and_buttons;
                color: $text_and_buttons;
                background-color: $background_darkText;

                -webkit-box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, .6);
                -moz-box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, .6);
                box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, .6);
            }
        }
    }

    .author_image {
        margin-top: 5rem;
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        -webkit-box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, .6);
        -moz-box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, .6);
        box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, .6);
}
}

.subject_section {
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .wrap_img {
        position: absolute;
        top: 0;
        left: 0;

        img {
            opacity: .1;
            width: 100vw;
            height: 70vh;
        }
    }

    hr {
        padding: 0;
	    height: 0;
	    border: none;
	    border-top: .25rem dotted $text_and_buttons;
        width: 30%;
        margin: 2rem;
    }

    h2 {
        font-size: 2.5rem;
        margin:5rem 2rem 2rem 2rem;
    }

    p {
        width: 70vw;
        text-align: center;
        font-size: 1.5em;

        &:last-child {
            margin-bottom: 5rem;
        }
    }
}

.topics_articles_section {

    h2 {
        text-align: center;
        font-size: 2.5rem;
        margin:5rem 2rem 5rem 2rem;
    }

    .topics_block {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        margin: 2rem;

        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20vw;

            p {
                text-align: center;
            }

            .header {
                text-transform: uppercase;
                font-weight: bold;
                margin: 1rem;
            }
        }

        img {
            display: block;
            width: 15rem;
            height: 15rem;

            -webkit-box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, .6);
            -moz-box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, .6);
            box-shadow: 0px 0px 26px -4px rgba(230, 220, 198, .6);
        }
    }
}

.motivation_section {
    display: flex;
    background-color: $light_background;

    img {
        display: block;
        width: 25vw;
        height: 90vh;
        margin: 2rem 5rem;
    }

    .motivation_text {

        h2 {
            color: $background_darkText;
            font-size: 4em;
            text-transform: uppercase;
            margin: 5rem;
            text-align: center;
        }

        p {
            color:$background_darkText;
            text-align: center;
            font-size: 2em;
            margin: 5rem;
        }

        a {
            display: block;
            margin: 0 auto;
            width: 20rem;
            text-align: center;
            font-size: 2em;
            background-color: $background_darkText;
            color: $text_and_buttons;
            padding: 1rem;
            border-radius: 50rem;
            -webkit-border-radius: 50rem;
            -moz-border-radius: 50rem;
            -ms-border-radius: 50rem;
            -o-border-radius: 50rem;

            &:hover {
                border: .1rem solid $background_darkText;
                color: $background_darkText;
                background-color: $text_and_buttons;

                -webkit-box-shadow: 0px 0px 26px -4px rgba(42,41,43, .7);
                -moz-box-shadow: 0px 0px 26px -4px rgba(42,41,43, .7);
                box-shadow: 0px 0px 26px -4px rgba(42,41,43, .7);
            }
        }
    }
}

.contacts {
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 2rem;

    img {
        display: block;
        width: 25vw;
    }

    .contact_info {

        h2 {
            font-size: 3em;
            margin: 2rem;
        }

        button {
            display: block;
            margin: 2rem;
            width: 15rem;
            text-align: center;
            font-size: 2em;
            background-color: $text_and_buttons;
            color: $background_darkText;
            padding: .3rem;
            border-radius: 50rem;
            -webkit-border-radius: 50rem;
            -moz-border-radius: 50rem;
            -ms-border-radius: 50rem;
            -o-border-radius: 50rem;
    
            &:hover {
                color: $text_and_buttons;
                background-color: $background_darkText;
                
                -webkit-box-shadow: 0px 0px 1px 1px rgba(230, 220, 198, 1);
                -moz-box-shadow: 0px 0px 1px 1px rgba(230, 220, 198, 1);
                box-shadow: 0px 0px 1px 1px rgba(230, 220, 198, 1);
            }
        }

        p {
            margin: 2rem;
        }
        
        table {
            margin-top: 10rem;

            td {
                padding:.2rem .5rem;

                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
    
    .dialog_for_user {
        visibility: hidden;
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 40%;
        top: 20%;
        background-color: $light_background;

        button {
            position: absolute;
            top: 1%;
            right: 1%;
            color: $background_darkText;
            border: .1rem solid $background_darkText;
            padding: .1rem;

            &:hover {
                background-color: red;
                color: yellow;
                cursor: pointer;
            }
        }

        label, input, textarea {
            display: block;
            color: $background_darkText;
            margin: .2rem;
        }
        .get_text {
            margin: 0 auto;
            border-radius: 50rem;
            -webkit-border-radius: 50rem;
            -moz-border-radius: 50rem;
            -ms-border-radius: 50rem;
            -o-border-radius: 50rem;

            &:hover {
                color: $text_and_buttons;
                background-color: $background_darkText;
    
                -webkit-box-shadow: 0px 0px 1px 1px rgba(230, 220, 198, 1);
                -moz-box-shadow: 0px 0px 1px 1px rgba(230, 220, 198, 1);
                box-shadow: 0px 0px 1px 1px rgba(230, 220, 198, 1);
            }
        }
    }
}