<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    *{
        box-sizing: border-box;
        margin: 0;
    }
    th, td{
        border: 1px solid black;
        padding: .3em;
    }
</style>
<body>

{% if object_list %}
<table>
    <tr>
        <th>Id</th>
        <th>Date</th>
        <th>Name</th>
        <th>Phone</th>
    </tr>
    {% for obj in object_list %}
        <tr>
            <td>{{ obj.id }}</td>
            <td>{{ obj.order_dt }}</td>
            <td>{{ obj.order_name }}</td>
            <td>{{ obj.order_phone }}</td>
        </tr>
{% endfor %}
</table>
{% else %}
<p>Данных нет</p>
{% endif %}
</body>
</html>