<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giocatory Blog</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    <main class="welcome_section">
        <div class="blog_name">
            <p>giocatory blog</p>
            <hr>
            <h1>Статьи программиста любителя</h1>
            <a href="#" class="choice_article">Подробнее</a>
        </div>
        <div class="author_image">
        </div>
    </main>

    <section class="subject_section">
        <div class="wrap_img">
            <img src="images/section_back_1.jpg" alt="">
        </div>
        <h2>Тематика</h2>
        <p>Python является одним из самых популярных языков программирования в мире. Подходит как для начинающих, так и для профессионалов. В этом блоге вы найдете подробную информацию о программировании на Python в разных направлениях.
        </p>
        <hr>
        <p>Тут вы найдете не только статьи и материалы по программированию на Python, но и обучающие курсы и видео, которые позволят вам научиться создавать сложные программы и решать реальные задачи. Стараюсь объяснить лучшие тренды и знания в области программирования, чтобы помочь вам стать профессиональным разработчиком.
        </p>
    </section>
    
    <section class="topics_articles_section">
        <h2>Статьи</h2>
        <div class="topics_block">
            <div class="base_info info">
                <img src="images/base_topic.jpg" alt="base info for python">
                <p class="header">Основы Python</p>
                <p>Короткие статьи по основам программирования на python, для любого уровня</p>
            </div>
            <div class="trends info">
                <img src="images/trends_topic.jpg" alt="trends in python world">
                <p class="header">Современные тренды</p>
                <p>Какие изменения нас ожидают, обновления фреймворков и многое другое</p>
            </div>
            <div class="forum info">
                <img src="images/forum.jpg" alt="python forum">
                <p class="header">Форум сообщества</p>
                <p>Найти собеседника и решить свои и чужие вопросы, поделиться кодом</p>
            </div>
        </div>
    </section>
    
    <section class="motivation_section">
        <img src="images/motivation.jpg" alt="author motivation">
        <div class="motivation_text">
            <h2>Просто попробуй и все получится!</h2>
            <p>Не важно где и кем ты работаешь, Python настолько прост, что ты сможешь реализовать всё, что пожелаешь....</p>
            <a href="#">Резюме автора</a>
        </div>
    </section>
    <section class="contacts">
        <div class="contact_info">
            <h2>Контакты</h2>
            <p>Можешь предложить любую идею<br> и рассмотрю каждое письмо</p>
            <a href="#">Написать</a>
            <table>
                <tr>
                    <td>E-MAIL</td>
                    <td>celestial-neuron@list.ru</td>
                </tr>
                <tr>
                    <td>TELEGRAM</td>
                    <td>@Giocatory</td>
                </tr>
            </table>
        </div>
        <img src="images/contacts.jpg" alt="contacts image Dicaprio">
    </section>
</body>
</html>